body{
	background: linear-gradient(#FFFFFF, #D3D8E8);
	font-family:"Arial", Helvetica, sans-serif;
	width: 100%;
	margin: 0;
}

header{
	display: flex;
	background: linear-gradient(#FB7700, #CC4800);
	position: relative;
	box-shadow: 1px 3px 5px #888888;
	margin: -8px;
}


/* This causes that the padding and border property in all classes is not added to the width 
 * but instead is already included in the width. */
* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
}


#logotext{
	display: inline;
}

header ul{
	list-style-type: none; 
}

.accessibility{ 
	position: absolute;
	left: -10000px; /* off screen */
	width: 1px;
	height: 1px;
	overflow: hidden; 
}



footer {
	clear: both;
	text-align: center;
}


.button{
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

