/* This causes that the padding and border property in all classes is not added to the width 
 * but instead is already included in the width. */
* {
	box-sizing: border-box;
}


body{
	background: linear-gradient(#FFFFFF, #D3D8E8);
	font-family:"Arial", Helvetica, sans-serif;
	width: 100%;
	margin: 0;
}

header{
	display: flex;
	background: linear-gradient(#FB7700, #CC4800);
	position: relative;
	box-shadow: 1px 3px 5px #888888;
	height: 80px;
}

footer{
	clear: both;
	text-align: center;
}


.logo{
	margin: 15px;
}

@media only screen and (max-width: 400px) {
	.logotext{
		display:none;
	}
}


.logotext{
	font-size: 1.8em;
	color: #333333;
	line-height: 49px;
	height: 49px;
}

.buttonlist{
	list-style-type: none;
	margin: 38px 0px 0px 0px;
	font-size: 0.8em;
	margin-left: auto; 
	margin-right: 25px;
}

.accessibility{ 
	position: absolute;
	left: -10000px; /* off screen */
	width: 1px;
	height: 1px;
	overflow: hidden; 
}

.button{
    border-radius: 6px;
    border: solid 1px #003D7E;
    background: linear-gradient(#0067BA, #003D7E);
    color: #FFF;
    padding: 12px 25px;
    text-decoration: none;
}

